<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Weight Tracking</title>
</head>

<body onload="initialize()">
<form id="weightForm" onsubmit="submitForm(event)">
    <div id="inputContainer">
        <div class="inputRow">
            <label for="base">{{ base | capitalize }}:</label>
            <input type="number" id="base" name="{{ base }}" step="0.1" required>
        </div>
        {% for pet in pets %}
        <div class="inputContainer">
            <div class="inputRow">
                <label for="{{ pet }}">{{ pet | capitalize }}: </label>
                <input type="number" id="{{ pet }}" name="{{ pet }}" step="0.1" required>
            </div>
            <div class="diff" id="{{ pet }}Diff">0.0</div>
        </div>
        {% endfor %}
    </div>
    <input type="submit" value="Submit">
    <a type="stats" href="/statistics">Statistics</a>
</form>
</body>

</html>